@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Lobster&display=swap");

header {
  background: url(https://i.postimg.cc/QNBgwvp7/Chat-GPT-Image-May-4-2025-12-26-20-PM.png)
    no-repeat center center / cover;
  color: white;
  padding: 100px 40px
}

h1 {
  text-align: center;
  padding-top: 90px;
  color: #a3d2ca;
  font-size: 45px;
  font-family: "Lobster", sans-serif;
  font-size: 75px;
}

h2 {
  text-align: center;
  color: #c9a15d;
  font-family: "Lobster", sans-serif;
  font-size:35px;
}

body {
  background-color: #0f3a42;
  padding: 0;
  margin: 0;
  font-size: 20px; 
}

main p {
  color: #cccccc;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
  background-color: #1c5c59;
  border: 3px solid #a3d2ca;
}

b {
  color: #c9a15d;
}

img {
  height: 200px;
  display: block;
  margin: 0 auto;
}

h3 {
  text-align: center;
  color: #c9a15d;
  font-size:19px;
}


header p {
  padding-bottom: 110px;
  font-size: 20px;
  text-align: center;
}


nav {
  padding-left: 10px;
}

a {
  text-decoration: none;
  border: 1px solid #c9a15d;
  background-color: #c9a15d;
}

header a {
  color: black;
  background-color: #c9a15d;
  font-size: 17px;
  text-decoration: none;
  border: 2px solid #0f3a42;
  border-radius: 10px;
  padding: 5px;
  margin: 20px;
  display: inline-block;
  width: 40%;
  text-align: center;
}

footer {
  background-color: #1c5c59;
  text-align: center;
  color: #cccccc;
}

.icon {
  display: block;
  margin: 0 auto;
  background-color: rgba()
}

.map {
  height: 450px;
  display: block;
  margin: 0 auto;
}




